.button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 0.5rem rgba(#ddd, 0.3);
    transform: scale(1.1);
  }
}
