.home {
  position: relative;
  margin: 0 auto;
  width: 128rem;
  height: 80rem;

  &__headings {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 20rem;
    width: 55rem;
    margin-left: 20rem;
    margin-top: 17rem;
  }

  &__cta {
    margin-top: 3rem;
  }

  &__illustration {
    position: absolute;
    top: 20rem;
    right: 9rem;
  }

  @include responsive(phone) {
    width: 100vw;
    height: 100vh;
  }
}
