.home {
  position: relative;
  margin: 0 auto;
  width: 128rem;
  height: 80rem;

  @include responsive(phone) {
    width: 100vw;
    height: 100vh;
  }

  &__headings {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 20rem;
    width: 55rem;
    margin-left: 20rem;
    margin-top: 17rem;

    @include responsive(phone) {
      margin-left: 2rem;
      margin-top: 2rem;
    }
  }

  &__cta {
    margin-top: 3rem;

    @include responsive(phone) {
      position: absolute;
      bottom: 2rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__illustration {
    position: absolute;
    top: 20rem;
    right: 9rem;

    @include responsive(phone) {
      width: 33rem;
      top: 30%;
      right: 0rem;
    }
  }
}
