html {
    /*
        We're working with 'rem' where 10px === 1rem
        so we do the following math
        (desired default pixel / default browser pixel) * 100
                    10           /          16            * 100
                                62.5
    */

    /*  1rem = 10px (10 / 16) */
    font-size: 62.5%;
}
