* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  /*
  We're working with 'rem' where 10px === 1rem
  so we do the following math
  (desired default pixel / default browser pixel) * 100
            10           /          16            * 100
                        62.5
  */
  font-size: 62.5%; // 1rem = 10px
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
