.header__nav-link {
  font-size: 1.5rem;
}

.heading {
  font-size: 6rem;

  @include responsive(phone) {
    font-size: 3rem;
  }
}

.button {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.1rem;
  color: '#FFF';
  border: none;
  outline: 0;
}
